@mixin display-large {
  font-size: 48px;
}

@mixin display-medium {
  font-size: 32px;
}

@mixin display-small {
  font-size: 24px;
}

@mixin display-large-bold {
  font-weight: bold;
  font-size: 48px;
}

@mixin display-medium-bold {
  font-weight: bold;
  font-size: 32px;
}

@mixin display-small-bold {
  font-weight: bold;
  font-size: 24px;
}

@mixin text-large {
  font-size: 24px;
}

@mixin text-medium {
  font-size: 18px;
}

@mixin text-small {
  font-size: 16px;
}

@mixin text-xsmall {
  font-size: 14px;
}

@mixin link-large {
  font-weight: 600;
  font-size: 24px;
}

@mixin link-medium {
  font-weight: 600;
  font-size: 18px;
}

@mixin link-small {
  font-weight: 600;
  font-size: 16px;
}

@mixin link-xsmall {
  font-weight: 600;
  font-size: 14px;
}
