//Colors
$primaryColor: #5f2eea;
$secondaryColor: #1cc8ee;
$errorColor: #ed2e7e;
$succesColor: #00ba88;
$warningColor: #f4b740;

//Typography Colors
$titleColor: #14142b;
$bodyColor: #4e4b66;
$labelColor: #6e7191;
$placeHolderColor: #a0a3bd;
$lineColor: #dedede;
$inputColor: #eff0f7;
$backgroundColor: #f7f7fc;
$offWhiteColor: #fcfcfc;
