@import "../../assets/scss/variables";
@import "../../assets/scss/mixin";

.upcoming-movies {
  padding-top: 104px;

  h2 {
    @include display-small-bold;
    letter-spacing: 1px;
    color: $titleColor;
  }

  .view-all {
    @include link-small;
    color: $primaryColor;
    text-decoration: none;
  }

  .month-movies {
    margin-top: 60px;
    display: flex;
    overflow-x: auto;

    &::-webkit-scrollbar {
      width: 0;
    }

    .outline-primary {
      min-width: 127px;
      min-height: 42px;
      margin-right: 16px;

      &:hover {
        background-color: $primaryColor;
        color: $offWhiteColor;
      }
    }
  }

  .movies-upcoming {
    margin-top: 56px;
    display: flex;
    overflow-x: auto;

    &::-webkit-scrollbar {
      width: 0;
    }
  }
}
