@import "../../../assets/scss/variables";
@import "../../../assets/scss/mixin";

.form-group {
  position: relative;
  .form-control {
    padding: 22px 24px;
    @include text-small;
    border: 1px solid $lineColor;
  }
  .password-icon {
    position: absolute;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
    color: $placeHolderColor;
  }
}
