.form-outline {
  padding: 10px;
  margin-right: 24px;
  display: flex;
  align-items: center;
  background: #eff0f6;
  border-radius: 16px;
  width: 284px;
  @media screen and (max-width: 992px) {
    margin-right: 0;
    margin-top: 16px;
    width: 100%;
  }
  .form-control {
    border: none;
    outline: none;
    background: none;
    padding-right: 0;
  }

  .unstyled {
    &::-webkit-calendar-picker-indicator {
      background: url("../../../assets/icon/ic_forward.png") center no-repeat;
    }
  }
}
